" Usage and undo
set history=1000
set undolevels=10000
set rnu
set nrformats+=alpha
set formatoptions+=j

" Search
set ignorecase
set smartcase

" """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Appearance:											{{{1
" -------------------------------------------------------------
" Status
set relativenumber
set ruler
set hlsearch
set wildmenu

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Key Mappings:											{{{1
" -------------------------------------------------------------
set timeoutlen=500
let mapleader = "\<space>"

" Insert-mode delete word/line with undo.
inoremap <C-U> <C-G>u<C-U>	
inoremap <C-w> <C-g>u<C-w>

" New ones:
nnoremap <silent> <Space> :nohlsearch<Bar>:echo<CR>
nnoremap <leader>h <Esc>:call HardTimeToggle()<CR>

" Abbreviations
abbr psvm public static void main(String[] args){<CR>}<esc>O
abbr sop System.out.print("");<esc>2hi
abbr sopl System.out.println("");<esc>2hi
abbr sopf System.out.printf("");<esc>2hi
